/* styles.css - Challenge #1 (Skeleton) */

.container {
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    color: hotpink;
    text-align: center;
    font-size: 3em;
}

.tagline {
    text-align: center;
    color: black;
    font-style: italic;
    margin: 0 0 24px 0;
}

#mascot-image {
    margin: 0 auto;
    display: block;
    align-items: center;
    width: 200px;
    height: 260px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
}
.about {
    text-align: left;
    font-size: 30px;
}

.actions {
    text-align: center;
    margin: 12px 0 28px 0;
}

.buy-tickets {
    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 2px 12px rgb(0, 229, 255);
    transition: background 120ms ease, transform 80ms ease;
}

.buy-tickets:hover {
    background-color: green;
    cursor: pointer;
    transform: translateY(-1px);
}

.make-donation {
    color: white;
    background-color: blue;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    box-shadow: 0 2px 12px rgb(245, 3, 216);
    transition: background 120ms ease, transform 80ms ease;
}

.make-donation:hover{
    background-color: darkblue;
    cursor: pointer;
    transform: translateY(-1px);
}

.site-footer {
    text-align: center;
    font-size: 1rem;
    padding: 16px;
    border-top: 1px solid grey;
}